<div class="voices-and-votes lab">
  <div class="voices-and-votes__header">
    <div class="voices-and-votes__logo">
      <svg viewBox="0 0 935 546" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E32729" d="M312.044 468.873L870.772.045l64.28 76.604-558.73 468.827"/><path fill="#E32729" d="M312.044 468.872l64.28 76.604L935.05 76.648 870.773.044"/><path fill="#F8AE1D" d="M156.044 468.873L714.772.045l64.28 76.604-558.73 468.827"/><path fill="#FAB817" d="M156.044 468.872l64.278 76.604 558.73-468.828L714.77.044"/><path fill="#1A60A9" d="M.044 468.872l64.278 76.604L623.05 76.648 558.77.044"/></g></svg>
    </div>
    <h3>Constituency profile</h3>
    <h1>Hartlepool</h1>
  </div>
  <div class="voices-and-votes__content">
    <h1 class="voices-and-votes__intro"><span>Labour has held this seat since 1964, with current MP Iain Wright first elected in 2004. In 2015, just 3,024 votes separated Labour from Ukip. Labour’s share of the vote has fallen sharply since 2005, in part due to local anger at the closure of key hospital services.</span></h1>
    <div class="voices-and-votes__data">
      <h1>90,000 <span>population</span></h1>
      <h1>3,024 <span>majority</span></h1>
      <h1>69.6% <span>voted leave</span></h1>
    </div>
    <h1>96.6% <span class="voices-and-votes__caption">of the town is white british</span></h1>
    <h1>30.7% <span class="voices-and-votes__caption">of children in Hartlepool live in income deprived households, the 14th highest in the UK</span></h1>
    <h1>10th<span>most deprived area in the UK. Eleven of 17 wards are in the 5% most deprived nationally</span></h1>
    <h1>9.9%<span>unemployment, twice the national average (4.8%)</span></h1>
  </div>
</div>
