<div class="voices-and-votes lab">
  <div class="voices-and-votes__header">
    <div class="voices-and-votes__logo">
      <svg viewBox="0 0 935 546" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E32729" d="M312.044 468.873L870.772.045l64.28 76.604-558.73 468.827"/><path fill="#E32729" d="M312.044 468.872l64.28 76.604L935.05 76.648 870.773.044"/><path fill="#F8AE1D" d="M156.044 468.873L714.772.045l64.28 76.604-558.73 468.827"/><path fill="#FAB817" d="M156.044 468.872l64.278 76.604 558.73-468.828L714.77.044"/><path fill="#1A60A9" d="M.044 468.872l64.278 76.604L623.05 76.648 558.77.044"/></g></svg>
    </div>
    <h3>Constituency profile</h3>
    <h1>Erdington</h1>
  </div>
  <div class="voices-and-votes__content">
    <h1 class="voices-and-votes__intro"><span>Labour has held this seat since its inception in 1974; it is currently represented by Jack Dromey, who was first elected in 2010. In 2015, his majority was a relatively healthy 5129 – but that makes it a seat the Conservatives could hope to win. Erdington has a rich industrial past, but has struggled to recover from the demise of Fort Dunlop – a booming tyre factory.</span></h1>
    <div class="voices-and-votes__data">
      <h1>15,824 <span>population</span></h1>
      <h1>5,129 <span>majority</span></h1>
      <h1>63% <span>voted leave</span></h1>
    </div>
    <h1>73% <span class="voices-and-votes__caption">of the population is white. Asian/Asian British and Black/African/Caribbean/Black British communities each account for just over 10% of the population</span></h1>
    <h1>7.6%<span class="voices-and-votes__caption">of working-age residents claim unemployment benefit or universal credit, putting Erdington in the top 10 places for benefit claimants in the UK</span></h1>
    <h1>34.3%<span>Erdington's child poverty rate is one of the highest in the UK, coming in at 26 out of 650</span></h1>
  </div>
</div>
