<div class="voices-and-votes lab">
  <div class="voices-and-votes__header">
    <div class="voices-and-votes__logo">
      <svg viewBox="0 0 935 546" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E32729" d="M312.044 468.873L870.772.045l64.28 76.604-558.73 468.827"/><path fill="#E32729" d="M312.044 468.872l64.28 76.604L935.05 76.648 870.773.044"/><path fill="#F8AE1D" d="M156.044 468.873L714.772.045l64.28 76.604-558.73 468.827"/><path fill="#FAB817" d="M156.044 468.872l64.278 76.604 558.73-468.828L714.77.044"/><path fill="#1A60A9" d="M.044 468.872l64.278 76.604L623.05 76.648 558.77.044"/></g></svg>
    </div>
    <h3>Constituency profile</h3>
    <h1>Cambridge</h1>
  </div>
  <div class="voices-and-votes__content">
    <h1 class="voices-and-votes__intro"><span>In the last 25 years the city has flipped between Labour and the Liberal Democrats. Labour candidate Daniel Zeichner​'s victory in 2015 was largely down to anger over the Lib Dems' U-turn on scrapping tuition fees. This time anger over Brexit is likely to play a decisive role, with the odds on a Lib Dem return.</span></h1>
    <div class="voices-and-votes__data">
      <h1>114,740 <span>population</span></h1>
      <h1>599 <span>majority</span></h1>
      <h1>73.8% <span>voted remain</span></h1>
    </div>
    <h1>5.4% <span class="voices-and-votes__caption">of popoulation claim out of work benefits, just over half the national average of 9%</span></h1>
    <h1>£501,572<span class="voices-and-votes__caption">average house price, this is 16 times the average salary in the city of £30,056</span></h1>
    <h1>64%<span>have a good education, according to 2011 census, compared with national average of 39%</span></h1>
  </div>
</div>
